.formSign {
		margin: 0px 430px;
	}

	/* Full-width inputs */
	input[type=field], input[type=password] {
		font-family: Open Sans;
		width: 100%;
		padding: 10px 13px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}

	/* Set a style for all buttons */
	.signButton {
		font-family: Open Sans;
		background-color: #dcdddd;
		color: black;
		padding: 10px 10px;
		margin: 20px 0px;
		border: none;
		cursor: pointer;
		width: 20%;
	}

	/* Add a hover effect for buttons */
	.signButton:hover {
		opacity: 0.8;
	}

	/* Center the avatar image inside this container */
	.imgcontainer {
		text-align: center;
		margin: 24px 0 12px 0;
	}

	/* Add padding to containers */
	.container {
		padding: 16px;
	}
	.back{
	background-image : url("lemina8.JPG");
	height: 100%;
	width: 100%;
	background-position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	
}