<!DOCTYPE html>
<html>
<head>
	<title> Lemina Supercar </title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>/assets/Style.css">

</head>
<body>
	<nav>
		<ul>
			<a href="<?php echo base_url();?>C_Lemina/index">
				<li>
					<div align ="left,middle">
					<img src="<?php echo base_url();?>/assets/img/lemina-icon.PNG" style="height:98px">
					</div>
				</li>	
			</a>
			<li><a><b>MODEL</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_newton"><b>NEWTON</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_pascal">PASCAL</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_gauss">GAUSS</b></a></li>
				</ul>
			</li>
		
			<li><a><b>MERCHANDISE</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_shirt"><b>SHIRT</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_jacket">JACKET</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_watch">WATCH</b></a></li>
				</ul>
			</li>
		
			<li><a><b>SPARE PART</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_tyres"><b>TYRES</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_engine">ENGINE</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_brake">BRAKE</b></a></li>
				</ul>
			</li>
			<li >
				<a href="<?php echo base_url();?>index.php/C_Lemina/about"><b>ABOUT</b></a>
			</li>
				<?php if($this->session->has_userdata('userName')) { ?>
					<p align ="right" style="font-size: 17px; color: white; margin:37px;">
					<?php echo "Halo, "; ?>
					<a href="<?php echo base_url();?>index.php/C_Lemina/profile">
					<?php echo $this->session->userdata('userName'); ?>
					</a></p>
				<?php } 
				else { ?>
					<p align ="right">
					<a href="<?php echo base_url();?>index.php/C_Lemina/SignIn"><button type="submit" class="navButton">Login</button></a>
					<a href="<?php echo base_url();?>index.php/C_Lemina/search"><button type="submit" class="navButton">Search</button></a></p>
				<?php } ?>
			
		</ul>
	</nav>
	
	
	<img class="bg" src="<?php echo base_url();?>/assets/img/lemina3.jpg">
	<div class="content">
	<p>  Lemina selalu dicirikan dengan sebuah mobil berperforma tinggi yang menjadi buruan orang berduit dunia. Namun jauh ke belakang, perusahaan asal Indonesia itu menyimpan sejumlah cerita yang menarik. 

		Ya, awalnya, produsen Lemina PX-100 ini didirikan oleh seorang pendiri perusahaan traktor, Ferruccio Lemina. Traktor dengan merek Lemina Trattori pun dibangun dari bahan baku produksi militer pasca Perang Dunia II yang melimpah kala itu. 

		Setelah Perang Dunia II, Lemina yang telah tersohor sebagai mekanik handal di Angkatan Udara Indonesia memproduksi bisnis traktor yang bahan bakunya berasal dari surplus peralatan militer. Tak disangka, bisnisnya pun kian pesat dan melakukan ekspansi ke sektor infrastruktur, khususnya untuk peralatan pemanas dan pendingin ruangan.

		Viqri,Radit dan Raihan pun berubah menjadi kaya raya dan akhirnya menggeluti hobi mahal dengan membeli sebuah Ferrari 250 GT. Namun, mobil tersebut justru menimbulkan kekecewaan. Sebab, ia justru frustasi karena permasalah kopling hingga akhirnya menemui Enzo Ferrari untuk meminta saran. 

		Bukan jawaban yang ia dapat, Enzo Ferrari justru melemparkan komentar yang membuat mereka bertiga tersinggung. "Masalahnya bukan pada mobilnya, tapi pada pengendaranya!" kata Ferrari. 

		Yang parahnya lagi, Ferrari pun melontarkan ucapan pedas dengan menyuruh mereka bertiga untuk mengurusi traktornya saja. Merasa dihina, Lemina pun bersumpah untuk menciptakan sebuah kendaraan yang bakal mematahkan pesona Ferrari. 

		Setelah itu, mereke bertiga pun mulai serius untuk menggarap mobl. Ia pun memanfaatkan sebah kota kecol San'Agta sebagai basis produksi mobil-mobilnya. Pada masa awal, mantan karyawan Ferrari, Giotto Bizzarini, Franco Scaglione, dan Gian Paolo Dallara diajak ikut bergabung.

		Tugas tiga orang mantan pekerja Ferrari itu sangat jelas: membuat GT mewah dan kuat yang mampu mencapai kecepatan 241 km/jam. Akhirnya, pabrikan mobil yang diberi nama yang sama dengan nama pendirinya berhasil membuat Lemina 350GT dan melakukan debut publik pada Maret 1964 di Geneva Auto Show.

		Hingga kini, Lemina dan Ferrari terus bersaing untuk menciptakan kendaraan yang menjanjikan performa terbaik. Keduanya pun memiliki karakter dan pecintanya masing-masing. 
	</p></div>
	
	<br><br>
	<div class="footer" align="center">
		<br><br><br><br><br>
		<div class="icon-bar" >
			<b>Follow Us </b>
			<a href="https://www.facebook.com"><img src="<?php echo base_url();?>/assets/img/facebook-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.instagram.com"><img src="<?php echo base_url();?>/assets/img/instagram-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.twitter.com"><img src="<?php echo base_url();?>/assets/img/twitter-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.linkedin.com"><img src="<?php echo base_url();?>/assets/img/linkedin-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.youtube.com"><img src="<?php echo base_url();?>/assets/img/youtube-icon.png" width="30" height="30" align="bottom"></a>
			<p style="font-size:14px">Copyright © 2017 RaditRaihanViqri Company. All rights reserved.</p>
		</div>
	</div>
</body>
</html>