<!DOCTYPE html>
<html>
<head>
	<title> Lemina Supercar </title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>/assets/Style.css">

</head>

<body>
	<nav>
		<ul>
			<a href="<?php echo base_url();?>C_Lemina/index">
				<li>
					<div align ="left,middle">
					<img src="<?php echo base_url();?>/assets/img/lemina-icon.PNG" style="height:98px">
					</div>
				</li>	
			</a>
			<li><a><b>MODEL</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_newton"><b>NEWTON</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_pascal">PASCAL</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_gauss">GAUSS</b></a></li>
				</ul>
			</li>
		
			<li><a><b>MERCHANDISE</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_shirt"><b>SHIRT</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_jacket">JACKET</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_watch">WATCH</b></a></li>
				</ul>
			</li>
		
			<li><a><b>SPARE PART</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_tyres"><b>TYRES</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_engine">ENGINE</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_brake">BRAKE</b></a></li>
				</ul>
			</li>
			<li >
				<a href="<?php echo base_url();?>index.php/C_Lemina/about"><b>ABOUT</b></a>
			</li>
			
			<p align ="right">
				<a href="<?php echo base_url();?>index.php/C_Lemina/SignIn"><button type="submit" class="navButton">Login</button></a>
				<a href="<?php echo base_url();?>index.php/C_Lemina/search"><button type="submit" class="navButton">Search</button></a>
			</p>
		</ul>
	</nav>
	
	
	<img class="bg" src="<?php echo base_url();?>/assets/img/lemina3.jpg">
	<div class = "content">
	
	  
<div  style= " margin:30px ; font-family:Maiandra GD;text-align:justify;"> 
<h1>INNOVATION IN MATERIALS</h1>
	<br>
	<p>
Lemina aims to reduce weight and to increase the availability of electric energy using structural electric energy storing
 composites as a rechargeable battery. The target is to improve the nanomaterial technology, diffusing nano-charges in CFK-based
 panels able to store electric energy and in the meantime to form the body and structures of the car. At the same time, the 
 project aims to combine the technology to monitor continuously the whole carbon fiber structure, both visible and invisible, 
 with the concept of health-monitoring: the goal is to provide for the Terzo Millennio the ability to conduct its own 
 health-monitoring, to detect cracks and damages that might occur after accident, throughout its substructure, while limiting 
 or reducing to zero the risks correlated to the presence and propagation of cracks in the carbon fiber structure.
</div>


	<img src="<?php echo base_url();?>/assets/img/lemina2.png" width="100%" height="50%" align="right"></a>
	</p></div>
	
	<div class = "column.left">
	<div style= " margin:40px;">
	<img src="<?php echo base_url();?>/assets/img/turbo1.png" width="30%" height="40%" align="left" style="margin:100px;"></a></div></div>
	<div style= "padding-left:20px; margin:70px ; font-family:Maiandra GD;text-align:justify;"> 
	<br><br><br><br><br></br>
	<p>
	<h1>ENERGY</h1>
<br></br>
The sports car of the future uses electricity instead of gasoline. Electric systems generate high efficiency and offer several 
interesting characteristics like the possibility to recover kinetic energy and to deliver huge peaks of power. 
In order to take the most from the opportunities offered by electrification, the accumulation system must be 
power-oriented and symmetrical, to allow high performances and the greatest energy recovery possible. 
To harvest this opportunity, today’s batteries are not enough and a big leap forward is needed: Lemina aim is 
to develop an innovative supercapacitor able to close the gap with conventional batteries in terms of energy density, 
preserving an outstanding power density.

	</p></div>
	<br><br><br><br></br>
	
	
	<div  style= " margin:30px ; font-family:Maiandra GD; text-align:center;"> 
	<h1>THE SPORTS CAR OF THE FUTURE</h1>
	<br></br>
<p>
Pioneer and innovative by tradition, Automobili Lemina looks into the future with a visionary approach, 
bringing its own DNA’s values in the extreme. To plan its path through the electric super sports car, Lemina
 defines the requirements of the third millennium in terms of energy storage and innovative materials to secure the
 most emotional and ultimate driving experience.</p>
 </div></div>

 <img src="<?php echo base_url();?>/assets/img/fcar2.jpg" width="100%" height="100%" align="center">
<!--<center><img class="tengah" src="fcar2.jpg" ></center>-->
<br><br></br></br>

<div  style= " margin:50px ; font-family:Maiandra GD; text-align:center;">
<u><h1>NEWS</h1></u>
</div>
<div class="border">
<div class="column2">
<div  style= " margin:30px ; font-family:Maiandra GD; text-align:left;"> 
<a href="http://www.autoexpress.co.uk/car-news/consumer-news/95548/2017-driving-test-changes-sat-nav-use-and-more-independent-driving-in">
<h1>2017 driving test changes: sat nav use and more independent driving in new test</h1></a>
<p> The UK driving test is changing from December 2017 with the use of a sat nav included, 
plus other reforms
Changes to the UK driving test come into force on 4 December with candidates having to use a 
sat nav to find their way around the driving test route.
<div class="gambar">
<img src="<?php echo base_url();?>/assets/img/drive.jpg" style="border-radius: 250px; height: 350px;"></a>
</p></div></div></div></div>

<div class="border">
<div class="column2">
<div  style= " margin:30px ; font-family:Maiandra GD; text-align:left;"> 
<a href="https://www.bugatti.com/media/news/2017/bbc-topgear-magazine-honours-bugatti-chiron-as-hypercar-of-the-year/">
<h1>BBC TopGear Magazine honours Lemina XCrowns as “Hypercar of the Year”</h1></a>
<p>Molsheim / London, November 27, 2017. At this year’s BBC TopGear Magazine Awards,
 the Lemina XCrowns was presented with the accolade of “Hypercar of the Year”. The jury 
 gave the following reason for its decision: “The thrust from rest to 100 mph (161 km/h) is 
 insane but the way it bulldozes its way through the next 100 mph is spooky, and it just keeps going.”
 The XCrowns is designed not only for maximum speed ....
<div class="gambar">
<img src="<?php echo base_url();?>/assets/img/XCrowns.jpg" style="border-radius: 250px; height: 350px;"></a>
</p></div></div></div></div>

<br></br><br></br><br></br><br></br><br></br><br></br>

<div class="footer" align="center">
		<br><br><br><br><br>
		<div class="icon-bar" >
			<b>Follow Us </b>
			<a href="https://www.facebook.com"><img src="<?php echo base_url();?>/assets/img/facebook-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.instagram.com"><img src="<?php echo base_url();?>/assets/img/instagram-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.twitter.com"><img src="<?php echo base_url();?>/assets/img/twitter-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.linkedin.com"><img src="<?php echo base_url();?>/assets/img/linkedin-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.youtube.com"><img src="<?php echo base_url();?>/assets/img/youtube-icon.png" width="30" height="30" align="bottom"></a>
			<p style="font-size:14px">Copyright © 2017 RaditRaihanViqri Company. All rights reserved.</p>
		</div>
	</div>

</body>
</html>