<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>/assets/Style.css">
	<script>
        function validate() {
		    if(!document.getElementById("psw").value == document.getElementById("confirm_psw").value){
		    	alert("Passwords do no match");
		    	return true;
		    }
		    else{
		    	alert("Lah?");
		    	return false;
		    }
		}
    </script>
</head>
<body width="50%">
	<nav>
		<ul>
			<a href="<?php echo base_url();?>C_Lemina/index">
				<li>
					<div align ="left,middle">
					<img src="<?php echo base_url();?>/assets/img/lemina-icon.PNG" style="height:98px">
					</div>
				</li>	
			</a>
			<li><a><b>MODEL</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_newton"><b>NEWTON</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_pascal">PASCAL</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_gauss">GAUSS</b></a></li>
				</ul>
			</li>
		
			<li><a><b>MERCHANDISE</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_shirt"><b>SHIRT</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_jacket">JACKET</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_watch">WATCH</b></a></li>
				</ul>
			</li>
		
			<li><a><b>SPARE PART</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_tyres"><b>TYRES</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_engine">ENGINE</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_brake">BRAKE</b></a></li>
				</ul>
			</li>
			<li >
				<a href="<?php echo base_url();?>index.php/C_Lemina/about"><b>ABOUT</b></a>
			</li>
			
			<p align ="right" style="font-size: 17px; color: white;">
				<?php if($this->session->has_userdata('userName')) {
					echo "Halo, "; ?>
					<a href="<?php echo base_url();?>index.php/C_Lemina/profile">
					<?php echo $this->session->userdata('userName'); ?>
					</a>
				<?php } ?>
				<a href="<?php echo base_url();?>index.php/C_Lemina/SignIn"><button type="submit" class="navButton">Login</button></a>
				<a href="<?php echo base_url();?>index.php/C_Lemina/search"><button type="submit" class="navButton">Search</button></a>
			</p>
		</ul>
	</nav>
	
	<br><br><br><br><br>
	<form onSubmit="validate()" action="<?php echo site_url('C_Lemina/input_data');?>" method="post" >
		<div class="imgcontainer">
			<img src="<?php echo base_url();?>/assets/img/lemina-icon.png" alt="sessi" width="200" height="200">
		</div>
		
		<h3 align="center">SIGN UP</h3>
		
		<div class="container, formSign">
			<label>Name</label>
			<input type="field" placeholder="Enter Username" name="name" required><br>

			<label>Sign As</label><br>
			<label class="radio-inline"><input type="radio" name="role" value="0"> User</label>
        	<label class="radio-inline"><input type="radio" name="role" value="1"> Dealer</label><br><br>

			<label>Address</label>
			<input type="field" placeholder="Enter Address" name="address" required><br>
			
			<label>Sex</label><br>
			<label class="radio-inline"><input type="radio" name="sex" value="M"> Man</label>
        	<label class="radio-inline"><input type="radio" name="sex" value="W"> Woman</label><br><br>

        	<label>Tanggal Lahir</label><br>
			<input type="date" placeholder="Enter Tanggal Lahir" name="tgl_lahir" required><br><br>
			
			<label>Email</label>
			<input type="field" placeholder="Enter Email" name="email" required><br>
			
			<label>Password</label>
			<input type="password" placeholder="Enter Password" name="psw" required>

			<label>Confirm Password</label>
			<input type="password" placeholder="Confirm Password" name="confirm_psw" data-match="psw" data-match-error="Password tidak cocok" required>

			<p align="right"><input type="checkbox" checked="checked">Accept Terms and Agreements
			<button type="submit" class="signButton">Sign Up</button></p>

			<p align="center" style="font-size:15px">Already have an account? 
			<a href="<?php echo base_url();?>index.php/C_Lemina/SignIn">Sign In</a></p>
		</div>
	</form>
	<br><br><br>
	
	<div class="footer" align="center">
		<br><br><br><br><br>
		<div class="icon-bar" >
			<b>Follow Us </b>
			<a href="https://www.facebook.com"><img src="<?php echo base_url();?>/assets/img/facebook-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.instagram.com"><img src="<?php echo base_url();?>/assets/img/instagram-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.twitter.com"><img src="<?php echo base_url();?>/assets/img/twitter-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.linkedin.com"><img src="<?php echo base_url();?>/assets/img/linkedin-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.youtube.com"><img src="<?php echo base_url();?>/assets/img/youtube-icon.png" width="30" height="30" align="bottom"></a>
			<p style="font-size:14px">Copyright © 2017 RaditRaihanViqri Company. All rights reserved.</p>
		</div>
	</div>
</body>
</html>
