<!DOCTYPE html>
<html>
<head>
	<title>Sparepart - Brake</title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>/assets/Style.css">
	
</head>
<body width="50%">
	<nav>
		<ul>
			<a href="<?php echo base_url();?>C_Lemina/index">
				<li>
					<div align ="left,middle">
					<img src="<?php echo base_url();?>/assets/img/lemina-icon.PNG" style="height:98px">
					</div>
				</li>	
			</a>
			<li><a><b>MODEL</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_newton"><b>NEWTON</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_pascal">PASCAL</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/model_gauss">GAUSS</b></a></li>
				</ul>
			</li>
		
			<li><a><b>MERCHANDISE</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_shirt"><b>SHIRT</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_jacket">JACKET</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/merch_watch">WATCH</b></a></li>
				</ul>
			</li>
		
			<li><a><b>SPARE PART</b></a>
				<ul>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_tyres"><b>TYRE</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_engine">ENGINE</a></li>
					<li><a href="<?php echo base_url();?>index.php/C_Lemina/spare_brake">BRAKE</b></a></li>
				</ul>
			</li>
			<li >
				<a href="<?php echo base_url();?>index.php/C_Lemina/about"><b>ABOUT</b></a>
			</li>
			
			<?php if($this->session->has_userdata('userName')) { ?>
					<p align ="right" style="font-size: 17px; color: white; margin:37px;">
					<?php echo "Halo, "; ?>
					<a href="<?php echo base_url();?>index.php/C_Lemina/profile">
					<?php echo $this->session->userdata('userName'); ?>
					</a></p>
				<?php } 
				else { ?>
					<p align ="right">
					<a href="<?php echo base_url();?>index.php/C_Lemina/SignIn"><button type="submit" class="navButton">Login</button></a>
				<?php } ?>
				</p>
		</ul>
	</nav>
	<img class="bg" src="<?php echo base_url();?>/assets/img/Brakes2.jpg">
	<!-- text dan gambar pertama -->
<div class = "content">
<img src="<?php echo base_url();?>/assets/img/rem2.jpg" style= "margin-left:200px; margin-top:50px; margin-bottom: 50px;border-radius: 250px; height: 350px;"></a>
<div  style= " margin:50px ; font-family:Maiandra GD;text-align:justify;"> 
<br><br><br>
<h1>BRIDGESTONE'S BRAKES : METALLIC </h1>
	<br>
	<p>
The final type of brake pad is the semi-metallic brake pad, often referred to as just “metallic brake pad”. 
Metallic brake pads are comprised of anywhere between 30% and 70% metals including copper, iron, steel, or other 
composite alloys. These various metals are combined with graphite lubricant as well as other fillers to complete 
the brake bad. The metallic brake pad compounds that are available vary, with each offering their own advantages 
for different situations as diverse as daily commutes to track racing.

<br><br>Performance-driven drivers prefer the metallic brake pads because they offer improved braking performance 
in a much wider range of temperatures and conditions. Because metals are such a good conductor of heat, they tend to 
be able to withstand more heat while simultaneously helping braking systems cool back down more quickly. They also don’t 
compress as much as organic brakes, meaning less pressure needs to be applied to the brake pedal to affect stopping ability.
</div>
</div>	
	
	
	<div class="footer" align="center">
		<br><br><br><br><br>
		<div class="icon-bar" >
			<b>Follow Us </b>
			<a href="https://www.facebook.com"><img src="<?php echo base_url();?>/assets/img/facebook-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.instagram.com"><img src="<?php echo base_url();?>/assets/img/instagram-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.twitter.com"><img src="<?php echo base_url();?>/assets/img/twitter-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.linkedin.com"><img src="<?php echo base_url();?>/assets/img/linkedin-icon.png" width="30" height="30" align="bottom"></a>
			<a href="https://www.youtube.com"><img src="<?php echo base_url();?>/assets/img/youtube-icon.png" width="30" height="30" align="bottom"></a>
			<p style="font-size:14px">Copyright © 2017 RaditRaihanViqri Company. All rights reserved.</p>
		</div>
	</div>
	
</body>
</html>